@font-face {
    font-family: 'man';
    src: url('../assets/fonts/batmfa__.ttf');
}

@font-face {
    font-family: 'bruno mars';
    src: url('../assets/fonts/BrunoAce-Regular.ttf');
}

@font-face{
    font-family: 'digital';
    src: url('../assets/fonts/DigitalNumbers-Regular.ttf');
}

@keyframes parallax-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .parallax-image{
    animation: parallax-spin infinite 50s linear;
  }

.score{
    font-family: 'digital';
}


.body{
    font-family: 'bruno mars';
}

.header{
    font-family: 'man';
}