.footer {
    position: relative; /* or 'fixed' if you want it always visible */
    background-color: #3B0855; /* Updated to a new color */
    z-index: 99; /* Ensure it's above other content */
    /* Alternative colors you might try: */
    /* background-color: #2A2D43; */
    /* background-color: #29204A; */
    /* background-color: #241B2E; */
    height: 20vh;
    z-index: 2;
    justify-content: space-between; 
    align-items: center;
    display: flex;
    color: rgb(251, 239, 212);
    padding: 0 2rem;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem; 
}

.middle {
    background-color: #29053b;
    width: 3px;
    height: 15vh;
    border-radius: 15px;
}

#rektorLogo {
    height: auto;
    height: 15vh; /* Adjusted to maintain neatness */
    margin-left: -10%;
}

#ucLogo {
    height: 12vh;
    width: auto;
    opacity: 0.9;
}

.footer .right {
    text-align: end;
    justify-content: start;
    align-items: end;
    display: flex;
    opacity: 0.9;
    margin-right: 2vw;
    font-family: 'Bruno';
}

@media (max-width: 1024px) {
    #ucLogo {
        height: 8vh;
    }

    #rektorLogo {
        height: 6vh;
    }

    .footer .right {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 920px) and (orientation: landscape) {
    #vrRektor {
        width: 40vw;
        height: auto;
    }

    .footer .right {
        font-size: 0.5rem;
        line-height: 0.75rem;
    }
}

@media (max-width: 640px) {
    #ucLogo {
        height: 7vh;
    }

    #rektorLogo {
        height: 9vh;
        margin-left: -20%;
    }

    
    

    .footer .right {
        margin-right: -1%;
        font-size: 0.6rem;
        line-height: 0.75rem;
    }
}
